

body{
background-image: url("/assets/images/starwars-background.jpg");
background-repeat: no-repeat;

}

.choice{
border: 1px solid lightgrey;
padding:10px;
border-radius: 4px;
cursor:pointer;
}
h1{
text-align: center;
font-size:80px;
font-family: Georgia, 'Times New Roman', Times, serif;
text-decoration: underline;
}
